
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}
dialog {
    margin: auto;
    border: 0;
    border-radius: 5px;
    font-size: 1.3rem;
}
dialog:focus {
    outline: none;
}

dialog > :first-child {
    padding: 0 15px 15px 15px;
}

dialog h1 {
	margin: 0.2em 0 0.5em 0;
}