
@font-face {
	font-family: "Paul";
	src: url("/Paul.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

:root {
	height: 100%;
	max-width: 1920px;
	max-height: 1080px;
}

body {
	background-image: url("fond.png");
	background-size: 88%;
	background-position: top right;
	height: 100%;

}

* {
	text-align: center;
	font-family: "Paul";
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center;
}


#save {
	position: fixed;
	top: 5px; right: 5px;
	padding: 5px;
	font-size: 1.5em;
}


#bandeau {
	width: 100%;
	height: 100%;
	background-position: bottom;
	position: relative;
}


[icon] {
	border-radius: 100%;
	padding: 15px;
	display: flex;
	cursor: pointer;
}

[contenteditable] {
	outline: none;
}

img {
	width: 100px;
}

img.not {
	position: absolute;
	pointer-events: none;
}

aside {
	position: fixed;
	left: 0;
	height: 100%;
	width: 420px;
	z-index: 10;

	display: flex;
	flex-direction: column;
	align-items: start;
}

#face {
	cursor: pointer;
	margin-top: 15px;
	width: 270px;
	aspect-ratio: 1;
	margin-left: 80px;
	background-size: contain;
}

aside > :nth-child(2) {
	margin-left: 130px;
}
aside > :nth-child(3) {
	margin-left: 90px;
}
aside > :last-child {
	margin-left: 50px;
}

aside [icon] {
	margin-top: 40px;
}

aside [icon] img {
	width: 140px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 200px;

	display: flex;
	pointer-events: none;
}

footer > * {
	margin-top: 50px;
	pointer-events: auto;
}

footer h1 {
	text-align: center;
	align-self: center;
	flex-grow: 1;
	font-size: 60pt;
}

footer [icon] {
	margin-right: 30px;
	align-self: center;
}


#price {
	align-self: center;
	font-size: 77pt;
	width: 310px;
	margin-right: 35px;
	margin-left: 25px;
	margin-bottom: 20px;
}

#earlyAccess {
	width: unset;
}


progress {
	position: fixed;
	top: 10%;
	left: 45%;
}